<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <header>
        <h1>DreamHome Admin Dashboard</h1>
    </header>
    <nav>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="{{ url_for('staff_management') }}">Staff</a></li>
        </ul>
    </nav>

    <section>
        <h2>Welcome to the DreamHome Admin Dashboard</h2>
    </section>    
    
    <footer>
        <p>&copy; 2025 DreamHome. All rights reserved.</p>
    </footer>
</body>
</html>